body{
    background-color: orange;
}
#box{
    width: 50%;
    height: auto;
    position: absolute;
    top:25%;
    left:25%;
}

.content{
    background-color: #fff;
    height: auto;
    border-radius: 15px 0 15px 0;
    padding: 50px;
}

.button-group{
    text-align: right;
    margin-top:10px;
}